# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.sqlite3

# Virtual environments
env/
venv/
ENV/
.env
.venv/

# Django
*.log
*.pot
*.py[cod]
staticfiles/
media/
db.sqlite3

# Testing & Coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
*.cover
coverage.xml
*.mo

# Editor/IDE
.vscode/
.idea/
*.swp
mydb.py

# Frontend
node_modules/
dist/
build/
*.DS_Store
Thumbs.db

# Pre-commit
.pre-commit-config.yaml.bak
