# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.sqlite3

# Virtual environments
env/
venv/
ENV/
.env/
.venv/

# Django
*.log
*.pot
*.py[cod]
staticfiles/
media/
db.sqlite3

# Editor/IDE
.vscode/
.idea/
*.swp
mydb.py
