version: '3.8'

services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: crmdb
      MYSQL_USER: crmuser
      MYSQL_PASSWORD: StrongPass!234
      MYSQL_ROOT_PASSWORD: rootpassword
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - DB_HOST=db
      - DB_PORT=3306
      - DB_NAME=crmdb
      - DB_USER=crmuser
      - DB_PASSWORD=StrongPass!234
      - SECRET_KEY=django-insecure-test-key
      - DEBUG=True

volumes:
  db_data: